:root{
  --primary:rgb(9, 174, 61);
  --error :rgb(185, 30, 30);
}
body{
  background: rgb(216, 216, 216);
  margin: 0;
  font-family:'Courier New', Courier, monospace;
}
header{
  background: white;
}
header .container{
  max-width: 1400px;
  margin: 0;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header a{
  color: #333;
  text-decoration: none;
}
.pages{
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}
